/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color for light mode */
    --hue-color: 142 ; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
    /* Change favorite color for dark mode */
    --hue-color2: 250 ; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
    
    

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
	--first-color-second: hsl(var(--hue-color), 69%, 61%); 
    --first-color-alt: hsl(var(--hue-color), 57%, 53%); 
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
}
* {
	box-sizing: border-box;
}


.contenedor {
	max-width: 1200px;
	width: 80%;
	margin: auto;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */


.contenido-principal {
	padding-top: 35px;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen{
	vertical-align: top;
	margin-right: 20px;
	margin-top: 70px;
	width: 50%;
	max-width: 550px;
	border-radius: 50px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: var(--text-color);
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: var(--first-color);
	opacity: 80%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__elemento img{
	cursor: pointer;
}

.carousel__indicadores{
	padding-top: 15px;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: var(--first-color);
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}


@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}